/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

/* ------------------------ Variables */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --green-color: #7ACC2D;
  --gray-color: #bdbdbdc9;
  --white-color: #FFFFFF;
  --black-color: #313337;
  /* ----------------- Typography */
  --normal: 12px;
  /* ----------------- Spacing */
  --space: 10px;
  /* ----------------- Box shadow */
  --box: 0 0 2px var(--gray-color);
}

html,body{
  padding:0;
  margin:0;
  font-size: var(--normal);
  font-family: 'Open sans', serif;
}

nav {
  display: flex;
  padding: var(--space);
  align-items: center;
  background-color: var(--green-color);
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding-left: calc(var(--space) * 2);
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

/* -------------------------- Main section -------- */

.main_section {
  padding: 10%;
  text-align: center;
}

.products {
  display: flex;
  height: 50px;
  padding: 20% 20% 10% 20%;
  background-size: cover;
  justify-content: center;
  background-position: center top;
  background-image: url("../images/curve.png");
}

.products .product {
  padding: var(--space);
  margin-top: -300px;
}

.products .product .content {
  padding: 15px;
  background-color: var(--white-color);
  box-shadow: var(--box);
}

.products .product .content h2 {
  text-align: center;
}

.products .product .img_content {
  text-align: center;
}

.products .product .main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: 17px;
  color: var(--white-color);
  border: none;
}

.products .product .main_button:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: #5e9e22;
}

/* -------------------------- Featured section -------- */

.featured_section {
  display: flex;
  padding: 5% 10%;
  justify-content: center;
  border-bottom: solid 1px var(--gray-color);
}

.featured_section .featured {
  padding: calc(var(--space) * 5);
}

.featured_section .featured .img_content {
  text-align: center;
  display: block;
}

.featured_section .featured .img_content img {
  max-height: 100px;
  max-width: 100%;
}

.featured_section .featured .content {
  padding: 10%;
}

.featured_section .featured .content h3{
  text-align: center;
}

.featured_section .featured .content p{
  text-align: justify;
}

/* -------------------------- Testimonials section -------- */

.testimonials {
  padding: 5% 10%;

}

.testimonials  .testimonials_title h2{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 5%;
}

.testimonials .testimonials_list {
  display: flex;
}

.testimonials .testimonials_list .testimonial {
  padding: 0.5%;
}

.testimonials .testimonials_list .testimonial .content {
  box-shadow: 2px 4px 4px #0000002b;
}

.testimonials .testimonials_list .testimonial .content .img_content img {
  width: 100%;
}

.testimonials .testimonials_list .testimonial .content .text_content {
  padding: 10px;
}

.testimonials .testimonials_list .testimonial .content .text_content h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/* -------------------------- Footer section -------- */

footer {
  color: #FFFFFF;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #313337;
  justify-content: space-between;
}

footer > div {
  text-align: left;
  padding: 0 2%;
  font-size: var(--normal);
}