@media (max-width: 600px) {
    .main_section {
        padding: 4%;
    }

    .products {
        display: inherit;
        height: auto;
        padding: 10% 15%;
    }

    .products .product {
        margin-top: auto;
    }

    .featured-section {
        display: inherit;
        padding: 10%;
    }

    .featured-section .featured {
        padding: 0 10%;
    }

    .testimonials {
        padding: 10% 15%;
    }

    .testimonials .testimonials-list {
        display: inherit;
    }

    .testimonials .testimonials-list .testimonial {
        padding: 0.5%;
        margin-top: 10%;
    }

    .products h1 {
        margin-left: inherit;
    }

    .products .row:nth-child(odd) {
        flex-direction: column-reverse;
        display: flex;
    }

    .products .row .product-content {
        text-align: center;
    }
}