/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

/* ------------------------ Variables */

:root {
    /* ----------------- Colors ------- */
    --green-color: #7ACC2D;
    --gray-color: #bdbdbdc9;
    --white-color: #FFFFFF;
    --black-color: #313337;
    /* ----------------- Typography --- */
    --normal: 12px;
    /* ----------------- Spacing ------ */
    --space: 10px;
    /* ----------------- Box shadow --- */
    --box: 0 0 2px var(--gray-color);
}
